*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $bgColor;
}

header{
    min-height: 5vh;
}


footer{
    min-height: 10vh;
    background-color: $bgColor;
    border: 1px solid black;
}

main{
    min-height: 80vh;
}

.footer-list > li{
    font-size: smaller;
    background-color: transparent !important;
}

.footer-list > li > a{
    text-decoration: none;
    color:white;
}

.text-justify{
    text-align: justify;
}

.text-sm-10{
    font-size: 10px;
}

