*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $bgColor;
}

.navbar-text{
    margin-right: 30px;
}

.footer-list > li{
    font-size: smaller;
    background-color: transparent !important;
}

.footer-list > li > a{
    text-decoration: none;
    color:white;
}

.text-justify{
    text-align: justify;
}
